#nav{
    margin-top: -;
    margin-bottom: 5px;
}

navbar-fixed-top { position: absolute!important; }

.fuente{
	font-size: 13px;
}

.tabla{
	margin-bottom: 0px;
}
.margen{
	margin-bottom: 0;
}

#panel{
	padding-top: 5px;
}

.borde_right{
	padding-right: 5px;
}